{% extends 'base.html.twig' %}

{% block body %}

    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/theme.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-entypo.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/theme-responsive.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css') }}">
    {% endblock  %}

    <div id="div-salon" class="content">
        <div class="row">
            <div class="container">
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-sm-10 col-md-10">

                    <input type='text' v-model="searchBook" placeholder="Recherche par titre">

                    <div v-for="book in filteredBooks">

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">

                            <div class="alauneCard" @click="showOeuvre(book)" >
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div>
                                            <a  href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                                                <img :src="book.url_image" class="img-thumbnail img-alaune img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel-footer" >
                                        ${ book.title } <br>
                                        ${ book.author } <star-rating :star-size="20" :max-rating="4" :rating="book.rating" :read-only="true" :increment="0.5" :show-rating="false"></star-rating><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1"></div>
            </div>
        </div>
    </div>
    <!-- Oeuvre shown-->
    <div v-if="oeuvreIsShown" v-cloak class="oeuvre" id="oeuvreShown" tabindex="1" role="dialog" >
        <div class="modal-content">
            <div class="close-modal" @click="closeModal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>${ oeuvreShown.title }</h2>
                            <hr class="star-primary">
                            <img :src="oeuvreShown.url_image" class="img-responsive img-modal img-centered" alt="">
                            <p>${ oeuvreShown.description }</p>
                            <ul class="list-inline item-details">
                                <li>Auteur:
                                    <strong><a href="http://startbootstrap.com">${ oeuvreShown.author }</a>
                                    </strong>
                                </li>
                                <li>Genre:
                                    <strong><a href="http://startbootstrap.com">${ oeuvreShown.subcategory }</a>
                                    </strong>
                                </li>
                                <li>Note moyenne utilisateurs:
                                    {#<star-rating :star-size="10" :max-rating="4" :rating="${ oeuvreShown.rating }" :read-only="true" :increment="0.5" :show-rating="false"  active-color="#D99E7E"></star-rating>#}
                                    ${ oeuvreShown.rating }
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" @click="closeModal" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}