{% extends 'base.html.twig' %}

{% block body %}

    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/theme.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-entypo.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/theme-responsive.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css') }}">
    {% endblock  %}

    <div id="div-salon" class="content">
        <div class="row">
            <div class="container">
                <div class="col-xs-1 col-sm-1 col-md-1"></div>
                <div class="col-xs-10 col-sm-10 col-md-10">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-3 col-lg-4"></div>
                        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-3">
                            <form id="search">
                                <input id="search-input" name="query" placeholder="Recherche" v-model="searchQuery">
                            </form>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                                <input id="create-salon-input" name="salon" type="button" value="Ajouter salon">
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-3 col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <vue-table
                                    :data="gridData"
                                    :columns="gridColumns"
                                    :filter-key="searchQuery">
                            </vue-table>

                        </div>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1"></div>
            </div>
        </div>
    </div>
    <!-- Vue js star rating -->
    <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>

{% endblock %}