Bonjour,<br><br>

Pour activer votre compte veuillez <a url="{{ url('activate_account', {'token': token}) }}">cliquer ici</a><br><br>

Cordialement,<br>
Le club des critiques<br><br>
-----------------------------<br>
Si le lien ne fonctionne pas, veuillez copier-coller ceci dans votre navigateur : {{ url('activate_account', {'token': token}) }}